@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Tables Style Sheet
   Author: christian smith
   Date:  11/29/23 

   Filename:         dlr_tables2.css

*/

/* Table Styles */
table{
   width: 100%;
   border: outset 15px rgb(151,151,151);
   font-family: arial, Verdana, sans-serif;
}


th td{
  border: 1px solid gray; 
  padding: 5px;
  vertical-align: top;
}

/* Table Caption Styles */



/* Table Column Styles */



/* Table Header Styles */



/* Table Footer Styles */







