@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Tables Style Sheet
   Author: christian smith
   Date:  11/29/23 

   Filename:         dlr_tables2.css

*/

/* Table Styles */

table{
   width: 100%;
   border: outset 15px rgb(151,151,151);
   font-family: arial, Verdana, sans-serif;
}


th td{
  border: 1px solid gray; 
  padding: 5px;
  vertical-align: top;
}

/* Table Caption Styles */

caption{
   caption-side: bottom;
   text-align: center;
}


/* Table Column Styles */

col.timeColumn{
   width: 10%;
   background-color: rgb(215,205,151);
}

col.wDayColumns{
width: 11%;
background-color: rgb(236,255,211);
}

col.wEndColumns{
   width: 17%;
   background-color: rgb(255,231,255);
}

/* Table Header Styles */

thead{
   color: white;
   background-color: rgb(105,177,60);
   :first-of-type{
      background-color: rgb(153,86,7);
   }
   :nth-of-type(7){
      background-color: rgb(153,0,153);
   }
   :nth-of-type(8){
      background-color: rgb(153,0,153);
   }
}



/* Table Footer Styles */







